---
---

<section class="relative md:-mt-[76px] not-prose">
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
        <div class="py-12 md:py-20">
            <div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto py-20">
                <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200">
                    Escuela montessori
                    <br>
                    <span class="text-accent dark:text-white highlight">Árbol de luz</span>
                    <br>
                    Puerto Varas
                </h1>
                <p class="text-xl text-muted mb-6 dark:text-slate-300 py-10">
                    "La esencia de la educación montessori es ayudar al niño en su desarrollo y adaptarse a cualquier condicion que el presente lo requiere" 
                    <spam> María Montessorri </spam>
                </p>
            </div>
            <div>
                <img
                class="mx-auto rounded-md w-full"
                src="/hero-image2.jpg"
                />
            </div>
        </div>
    </div>
</section>
  