---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
	</head>
	<body class="antialiased text-default tracking-tight  bg-zinc-100 text-center pb-10 md:pb-16 max-w-5xl mx-auto">
		<main>
			<slot />
		</main>
	</body>
</html>
